main {
  background: gray;
  /* height: 100%;
  display: flex; */
}

header{
  text-align: center;
  height: 5%;
}

footer {
  text-align: center;
  height: 5%;
}

.HomeBackground {
  background-repeat: no-repeat;
  background-image: url('Images/homescreen.jpg');
  background-size: 100% 100%;
  height: 100%;
  left: 0;
  padding: 8em 4em;
  position: fixed;
  text-align: center;
  background-attachment: scroll;

  width: 100%;
}

.dice {
  background: blue;
  /* flex-direction: column;
  flex-basis: 50%; */
}

.saved {
  background: aqua;
  /* flex-direction: column;
  flex-basis: 50%; */

}

.info {
  background: green;
  /* flex-basis: 50%;
  flex-direction: column; */

}

.App {
  text-align: center;
}
/* Home class to make it take up entire screen except footer */

/* header always sticks to the very top */
/* main is in between */
/* footer always sticks to the very bottom */

/* Everything below based of main */

/* dice class to take up top left */
/* saved class to take up bottom left */
/* info class to take up right panel */
